packages:
  dnf:
    mod_ssl: []
    jq: []

files:
  /etc/httpd/conf.d/ssl.conf:
    mode: "000644"
    owner: root
    group: root
    content: |
      LoadModule ssl_module modules/mod_ssl.so
      LoadModule proxy_module modules/mod_proxy.so
      LoadModule proxy_http_module modules/mod_proxy_http.so
      
      Listen 443
      <VirtualHost *:443>
        ServerName api.darpo.in
        ServerAlias darpo.in
        DocumentRoot /var/app/current/
        
        SSLEngine             on
        SSLCertificateFile    "/etc/pki/tls/certs/server.crt"
        SSLCertificateKeyFile "/etc/pki/tls/certs/server.key"
        SSLCertificateChainFile "/etc/pki/tls/certs/chain.pem"
        
        ProxyPass / http://localhost:8080/
        ProxyPassReverse / http://localhost:8080/
        
        <Directory /var/app/current>
          AllowOverride All
          Require all granted
        </Directory>

        ErrorLog /var/log/httpd/ssl_error.log
        CustomLog /var/log/httpd/ssl_access.log combined
      </VirtualHost>

container_commands:
  01_download_cert:
    command: |
      mkdir -p /etc/pki/tls/certs
      aws acm get-certificate --certificate-arn arn:aws:acm:ap-south-1:590184025903:certificate/702ca26c-e230-4da7-81bb-531cff57e23d --region ap-south-1 > /tmp/cert.json
      echo "Certificate downloaded" >> /var/log/eb-cert.log

  02_setup_cert:
    command: |
      cat /tmp/cert.json | jq -r '.Certificate' > /etc/pki/tls/certs/server.crt
      cat /tmp/cert.json | jq -r '.PrivateKey' > /etc/pki/tls/certs/server.key
      cat /tmp/cert.json | jq -r '.CertificateChain' > /etc/pki/tls/certs/chain.pem
      echo "Certificates installed" >> /var/log/eb-cert.log
      chmod 600 /etc/pki/tls/certs/server.key

  03_restart_httpd:
    command: |
      systemctl restart httpd
      echo "Apache restarted" >> /var/log/eb-cert.log