container_commands:
  00_check_env:
    command: |
      echo "Creating environment file..."
      # Use sudo to read the env file and create a properly formatted version
      sudo bash -c '
        while IFS="=" read -r key value; do
          echo "export $key=\"$value\""
        done < /opt/elasticbeanstalk/deployment/env > /tmp/eb_env.sh
      '
      sudo chmod 644 /tmp/eb_env.sh  # Make readable by all users
      echo "Environment file created:"
      cat /tmp/eb_env.sh

  02_soruce_env:
    command: |
      echo "Sourcing environment file..."
      source /tmp/eb_env.sh
      sudo -u webapp bash -c 'source /tmp/eb_env.sh && echo "Environment sourced."'
      echo "Environment sourced."
      
  02_prisma_migrate:
    command: |
      cd /var/app/current
      MIGRATION_STATUS=$(sudo -u webapp npx prisma migrate status | grep -c "Database schema is up to date")
      if [ "$MIGRATION_STATUS" -eq "0" ]; then
        echo "Running migrations..."
        sudo -u webapp npm run prisma:migrate:deploy
      else
        echo "Database is up to date, skipping migrations"
      fi
    leader_only: true