# .ebextensions/connection_pool.config
files:
  "/etc/postgresql-custom.conf":
    mode: "000644"
    content: |
      max_connections = 100
      shared_buffers = 128MB
      effective_cache_size = 384MB
      maintenance_work_mem = 32MB
      checkpoint_completion_target = 0.9
      wal_buffers = 3932kB
      default_statistics_target = 100
      random_page_cost = 1.1
      effective_io_concurrency = 200


# DB_HOST: '#{RDSInstance.Endpoint.Address}'