packages:
  yum:
    mod24_ssl: []
    python3-pip: []

files:
  /etc/httpd/conf.d/ssl.conf:
    mode: "000644"
    owner: root
    group: root
    content: |
      LoadModule ssl_module modules/mod_ssl.so
      Listen 443
      <VirtualHost *:443>
        ServerName api.darpo.in
        ServerAlias drapo.in
        DocumentRoot /var/app/current/
        
        SSLEngine             on
        SSLCertificateFile    "/etc/pki/tls/certs/server.crt"
        SSLCertificateKeyFile "/etc/pki/tls/certs/server.key"
        SSLCertificateChainFile "/etc/pki/tls/certs/chain.pem"
        
        ProxyPass / http://localhost:8080/
        ProxyPassReverse / http://localhost:8080/
        
        <Directory /var/app/current>
          AllowOverride All
          Require all granted
        </Directory>
      </VirtualHost>

container_commands:
  01_install_aws_cli_bundle:
    command: |
      pip3 install --upgrade awscli
  
  02_download_cert:
    command: |
      aws acm get-certificate --certificate-arn arn:aws:acm:ap-south-1:590184025903:certificate/702ca26c-e230-4da7-81bb-531cff57e23d --region ap-south-1 > /tmp/cert.json

  03_setup_cert:
    command: |
      cat /tmp/cert.json | jq -r '.Certificate' > /etc/pki/tls/certs/server.crt
      cat /tmp/cert.json | jq -r '.PrivateKey' > /etc/pki/tls/certs/server.key
      cat /tmp/cert.json | jq -r '.CertificateChain' > /etc/pki/tls/certs/chain.pem