# .ebextensions/nodecommand.config
option_settings:
  aws:elasticbeanstalk:container:nodejs:
    NodeVersion: 20.x.x
  aws:elasticbeanstalk:application:environment:
    NPM_USE_PRODUCTION: true
    NODE_ENV: production
  aws:elasticbeanstalk:environment:proxy:
    ProxyServer: nginx

# Add commands to run Prisma migrations
container_commands:
  01_install_prisma:
    command: "npm install prisma --save-dev"
  02_generate_prisma_client:
    command: "npx prisma generate"
  03_run_migrations:
    command: "npx prisma migrate deploy"
    leader_only: true # Run only on the first instance

